.enteteFormations{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

.enteteFormations div:first-child{
    position: relative;
}

.enteteFormations img{
    width: 100%;
    height: 100%;
}

.enteteFormations .titreEnteteFormations{
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enteteFormations .titreEnteteFormations div{
    text-align: center;
    width: 50%;
}

.enteteFormations .titreEnteteFormations div h2{
    font-size: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: var(--radiusB);
    padding: 0.5% 1%;
}

.enteteFormations .motCle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}

.enteteFormations .motCle div{
    text-align: center;
    background-color: var(--blue-color);
    padding: 0.2% 0.5%;
    width: 12em;
    border: 1px solid var(--yellow-color);
}

.enteteFormations .motCle h3{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}


