{% extends 'base.html.twig' %}

{% block stylesheets %} {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/formations/passBis.css') }}"> #}
{% endblock %}

{% block title %} {{ parent() }} nos locaux {% endblock %}

{% block body %}

    {% set motPage1 = "ENCADREMENT" %}
    {% include 'formations/entete.html.twig' %}

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 60px; color: var(--blue-color)">
            <h1>Nos locaux</h1>
        </div>
    </div>

{% endblock %}