{% extends 'base.html.twig' %}

{% block stylesheets %} {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/formations/passBis.css') }}"> #}
{% endblock %}

{% block title %} {{ parent() }} la reforme PASS/L.AS{% endblock %}

{% block body %}

    {% set motPage1 = "ENCADREMENT" %}
    {% include 'formations/entete.html.twig' %}

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 60px; color: var(--blue-color)">
            <h1>La réforme PASS / L.AS</h1>
        </div>
    </div>
    <div>
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
            <div style="font-size: 30px; color: var(--blue-color)">
                <h2>Organisation de la réforme</h2>
            </div>
        </div>
        <div style="padding: 1% 0">
            <div style="margin: 0 15%; font-size: 18px; text-align: justify">
                <div style="text-align: justify"> <p>Il y a désormais deux voies d'accès pour intégrer une 2e année de Médecine, Maieutique, Odontologie, Pharmacie (MMOP) et Kiné : </p></div>
                <div>
                    <ul>
                        <li><strong>Un Parcours d'Accès Spécifique Santé ou PASS</strong> : l’étudiant suit le PASS à la faculté de Médecine/Pharmacie. Cette voie comporte principalement un enseignement médical (ou Majeure Santé) avec un enseignement complémentaire choisi par l’étudiant dans un autre domaine d’étude (ou Mineure aussi appelé Rorientation).</li>
                        <li><strong>Une Licence autre avec Accès Santé ou L.AS</strong> : l’étudiant suit son cursus de licence dans une faculté autre que celle de Médecine/Pharmacie. Pour candidater pour l’admission en 2ème année MMOP, il étudiera en complément de son année une option spécifique Santé (ou Mineure Santé). Par exemple, un étudiant peut choisir la faculté de Sciences (avec une Majeure Sciences dans ce cas), avec une option spécifique Santé. </li>
                    </ul>
                </div>
                <div><p>Schéma de la réforme : </p></div>
                <div style="text-align: center">
                    <img src="{{ asset('img/jpg/reformePaces.jpg') }}" alt="" style="width: 80%">
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: var(--blue-color-o)">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
            <div style="font-size: 30px; color: var(--blue-color)">
                <h2>Les principaux changements</h2>
            </div>
        </div>
        <div style="padding: 1% 0">
            <div style="margin: 0 15%; font-size: 18px; text-align: justify">
                <div style="text-align: justify"> <p>Les changements par rapport au concours de PACES sont les suivants : </p></div>
                <div>
                    <ul>
                        <li><strong>La suppression du redoublement : </strong> les étudiants ne réussissant pas leur examen pourront retenter une seule autre admission par la Licence Accès Santé (L.AS), en prenant une Mineure Santé. Ainsi, un étudiant pourra présenter au maximum deux candidatures en santé (1 fois en PASS et une fois en L.AS ou 2 fois en L.AS) au cours de son premier cycle d’études. </li>
                        <li><strong>Des évaluations par QCMs et par un oral : </strong> parmi les admis, certains accéderont directement en 2ème année de leur choix (cela correspond à des grands admissibles). D’autres devront passer une épreuve orale (lien vers notre préparation à l’orale) supplémentaire afin de pouvoir intégrer la 2ème année. </li>
                    </ul>
                </div>
                <div><p>Le contenu des programmes est très proche de celui de PACES.</p></div>
            </div>
        </div>
    </div>
    <div>
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
            <div style="font-size: 30px; color: var(--blue-color)">
                <h2>Quelles spécialités choisir pour les lycéens de Première et Terminale à la rentrée 2020 ?</h2>
            </div>
        </div>
        <div style="padding: 1% 0">
            <div style="margin: 0 15%; font-size: 18px; text-align: justify">
                <div style="text-align: justify"> <p>Pour les lycéens qui envisagent une entrée en PASS se pose la question des spécialités à choisir pour préparer au mieux l'entrée en PASS : </p></div>
                <div>
                    <ul>
                        <li><strong>En Première </strong>, 3 spécialités de 4h hebdomadaires sont à choisir. Le choix se porte préférentiellement sur <strong>Mathématiques</strong>, <strong>Physique-Chimie</strong> et <strong>Sciences de la Vie et de la Terre</strong>.</li>
                        <li><strong>En Terminale</strong>, deux choix possibles conseillés :
                            <ul>
                                <li><strong>Physique-Chimie</strong> et <strong>Sciences de la Vie et de la Terre</strong>, avec mathématiques complémentaires. </li>
                                <li>Mathématiques et Physique-Chimie.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div><p>Pour la Terminale, le choix doit dépendre avant tout des affinités des étudiants pour chacune de ces matières. ParcourSup ne discrimine pas les étudiants qui auront fait un de ces deux choix.  </p></div>
                <div><p>Dans tous les cas, un étudiant qui envisage des études de Santé doit être en capacité de valider son choix d'orientation dès le lycée et opter en fonction de ses résultats au lycée pour la meilleure stratégie possible. Avec une année sans redoublement possible, l’option de la Terminale Santé au lycée est un choix judicieux autour des 3 axes : orientation méthodologie et cours.</p></div>
            </div>
        </div>
    </div>


{% endblock %}