{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} témoignanges de nos étudiants{% endblock %}

{% block stylesheets %} {{ parent() }}

{% endblock %}

{# {% block javascripts %} {{ parent() }} <script defer src="{{ asset('js/default/index.js') }}"></script> {% endblock %} #}

{% block body %}

    {% set motPage1 = "étudiants témoignages" %}
    {% include 'formations/entete.html.twig' %}

        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
            <div style="font-size: 60px; color: var(--blue-color)">
                <h1>Actualités</h1>
            </div>
        </div>




{% endblock %}