<div class="section" style="margin-left: auto; margin-right: auto; ">
    <div class="contact_botFormation" style="background: linear-gradient(to right, var(--blue-color-o), var(--yellow-color-o));">
        <h4>Pour plus d'informations ou pour votre inscription : <br>nous contacter par mail sur <a href="mailto:contact@sup-perform.fr">contact@sup-perform.fr</a> ou par téléphone au <a href="tel:06 03 08 05 24">06 03 08 05 24</a>.</h4>
    </div>
</div>