{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formations/entete.css') }}">
{% endblock %}

<div class="enteteFormations">
    {% block enteteFormation %}
        <img src="{{ asset('img/png/Visuel-etudiants-4.png') }}" alt="">
        <div class="motCle">
            <div><h3>{{ motPage1 }}</h3></div>
            <div><h3>{{ motPage2 }}</h3></div>
        </div>
    {% endblock %}
</div>