{% extends 'base.html.twig' %}

{% block stylesheets %} {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/formations/passBis.css') }}"> #}
{% endblock %}

{% block title %} {{ parent() }} prépa L.AS {% endblock %}

{% block body %}

    {% set motPage1 = "prépa licence accès santé" %}
    {% include 'formations/entete.html.twig' %}

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 60px; color: var(--blue-color)">
            <h1>La Prépa L.AS</h1>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px">
            <div style="text-align: justify">
                <p>
                    Depuis 4 ans, nous préparons les étudiants pour la licence de droit (L1, L2 et L3) dans <a href="https://www.juris-perform.fr/"> notre structure Juris'Perform</a>. Ainsi, les étudiants en L.AS Droit peuvent avoir un suivi complet, pour la Majeure droit avec Juris'Perform, et pour la Mineure santé avec Sup'Perform.
                </p>
                <p>
                    Dans les autres filières L.AS (Sciences, Sciences éco, lettres), nous proposons désormais une préparation spécifique à la Mineure Santé avec un suivi pendant le premier semestre et un stage de prérentrée spécifique. Le contenu de la préparation varie en fonction des L.AS : Sciences ou Sciences humaines (Droit/Eco/Lettres).
                </p>
                <p>
                    L'expérience du suivi d'étudiants en L.AS sur cette première année de la réforme nous montre que le travail à fournir est considérable, l'organisation pour mener de front un double cursus doit être sans faille. En effet, la Mineure Santé en L.AS représente une grande partie du programme du premier semestre de PASS. A cela s'ajoute le programme du premier semestre de la Majeur L.AS. La <a href="{{ path('formations', {'nomFormation':'terminale-sante'}) }}">Terminale Santé</a> permet d'anticiper le contenu de la Mineure dès la terminale, et constitue une solution de premier plan pour les étudiants souhaitant intégrer une L.AS.
                </p>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 30px; color: var(--blue-color)">
            <h2>Objectifs</h2>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px">
            <div style="text-align: justify">
                <p>
                    Les étudiants en L.AS se retrouvent en difficulté avec un nombre important de vidéos à regarder pour la Mineure Santé, en plus de leur semestre de majeur. Pour les préparer au mieux sur cette Mineure qui va servir d'évaluation principale pour le passage en 2e année de filière, nous mettons en place :
                </p>
                <ul>
                    <li><strong>un point méthodologie individualisé</strong> pour guider l'étudiant dans son travail et son organisation,</li>
                    <li>des <strong>polys de cours complets</strong> qui vont servir de supports de référence à l'étudiant et lui permettre de préparer les séances,</li>
                    <li><strong>des cours en présentiel ou un suivi en distanciel</strong> qui vont permettre à l'étudiant de mieux comprendre les notions. <strong>Des prérequis</strong> sont fournis dans les matières où c'est indispensable (UE1/UE2 et UE3) compte tenu du programme abordé,</li>
                    <li><strong>des évaluations régulières</strong> pour permettre à l'étudiant de se situer et d'ajuster son travail.</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 30px; color: var(--blue-color)">
            <h2>Contenu et Tarifs 2020/2021</h2>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="display: flex; flex-direction: column; justify-content: center; margin: 0 10%;">
            <div style="background-color: var(--las-color); border-radius: var(--radiusB) var(--radiusB) 0 0">
                <div style="text-transform: uppercase; font-size: 21px; text-align: center; color: white; letter-spacing: 3px"><h4>la pré-rentrée</h4></div>
            </div>
            <div style="background-color: var(--las-color-o); border-radius: 0 0 var(--radiusB) var(--radiusB); font-size: 18px;">
                <div style="margin: 0.5% 0; text-align: center"><strong>La pré-rentrée débute 3 semaines avant la rentrée, c'est-à-dire dès le 9 août pour un total de 58h de cours.</strong></div>
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 1%">
                    <div style="background-color: var(--pass-color-o); width: 40%; margin: 0 5%">
                        <div style="background-color: var(--las-color); border-radius: var(--radiusB) var(--radiusB) 0 0; color: white; text-align: center">
                            <div><strong>L.AS</strong></div>
                            <div>SCIENCES ET STAPS</div>
                        </div>
                        <div style=" border-radius: 0 0 var(--radiusB) var(--radiusB); font-size: 18px; ">
                            <div style="height: 8em">
                                <ul>
                                    <li><strong>Physiologie</strong> - UE4 </li>
                                    <li><strong>Sciences Humaine et Sociale </strong> - UE5 </li>
                                    <li><strong>Médicaments et Autres Produits de Santé </strong> - UE6 </li>
                                    <li><strong>Math</strong> et <strong>Physique</strong> pour préparer la Majeure Science </li>
                                </ul>
                            </div>
                            <div style="">
                                <div style="background-color: var(--prix-formation); border-radius: 0 0 var(--radiusB) var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center">
                                    <div style="background-color: white; padding: 0 3%; border-radius: var(--radiusB); color: var(--prix-formation)"><strong>640 €</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: var(--pass-color-o); width: 40%; margin: 0 5%">
                        <div style="background-color: var(--las-color); border-radius: var(--radiusB) var(--radiusB) 0 0; color: white; text-align: center">
                            <div><strong>L.AS</strong></div>
                            <div>SCIENCES HUMAINES ET SOCIALES</div>
                        </div>
                        <div style=" border-radius: 0 0 var(--radiusB) var(--radiusB); font-size: 18px;">
                            <div style="height: 8em">
                                <ul>
                                    <li><strong>Chimie</strong> - UE1 </li>
                                    <li><strong>Biologie Moléculaire </strong> - UE2 </li>
                                    <li><strong>Biologie </strong> - UE3 </li>
                                    <li><strong>Physiologie </strong> - UE4 </li>
                                    <li><strong>Médicaments et Autres Produits de Santé </strong> - UE6 </li>
                                </ul>
                            </div>
                            <div style="">
                                <div style="background-color: var(--prix-formation); border-radius: 0 0 var(--radiusB) var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center">
                                    <div style="background-color: white; padding: 0 3%; border-radius: var(--radiusB); color: var(--prix-formation)"><strong>640 €</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="display: flex; flex-direction: column; justify-content: center; margin: 0 10%;">
            <div style="background-color: var(--las-color); border-radius: var(--radiusB) var(--radiusB) 0 0">
                <div style="text-transform: uppercase; font-size: 21px; text-align: center; color: white; letter-spacing: 3px"><h4>le premier semestre</h4></div>
            </div>
            <div style="background-color: var(--las-color-o); border-radius: 0 0 var(--radiusB) var(--radiusB); font-size: 18px;">
                <div style="margin: 0.5% 0; text-align: center"><strong>avec suivi hebdomadaire</strong></div>
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 1%">
                    <div style="background-color: var(--pass-color-o); width: 40%; margin: 0 5%">
                        <div style="background-color: var(--las-color); border-radius: var(--radiusB) var(--radiusB) 0 0; color: white; text-align: center">
                            <div><strong>L.AS</strong></div>
                            <div>SCIENCES</div>
                        </div>
                        <div style=" border-radius: 0 0 var(--radiusB) var(--radiusB); font-size: 18px; ">
                            <div style="height: 12em">
                                <ul>

                                    <li>polys</li>
                                    <li>vidéos en ligne sur notre ENT</li>
                                </ul>
                                <table style="width: 95%; margin: auto">
                                    <tbody>
                                    <tr>
                                        <td><strong>UE4 - Physiologie</strong></td>
                                        <td>13 séances</td>
                                    </tr>
                                    <tr>
                                        <td><strong>UE5 - Sciences humaines</strong></td>
                                        <td>9 séances</td>
                                    </tr>
                                    <tr>
                                        <td><strong>UE6 - MAPS</strong></td>
                                        <td>6 séances</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="">
                                <div style="background-color: var(--prix-formation); border-radius: 0 0 var(--radiusB) var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center">
                                    <div style="background-color: white; padding: 0 3%; border-radius: var(--radiusB); color: var(--prix-formation)"><strong>890 €</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="background-color: var(--pass-color-o); width: 40%; margin: 0 5%">
                        <div style="background-color: var(--las-color); border-radius: var(--radiusB) var(--radiusB) 0 0; color: white; text-align: center">
                            <div><strong>L.AS</strong></div>
                            <div>SCIENCES HUMAINES ET SOCIALES</div>
                        </div>
                        <div style=" border-radius: 0 0 var(--radiusB) var(--radiusB); font-size: 18px;">
                            <div style="height: 12em">
                                <ul>

                                    <li>polys</li>
                                    <li>vidéos en ligne sur notre ENT</li>
                                </ul>
                                <table style="width: 95%; margin: auto">
                                    <tbody>
                                    <tr>
                                        <td><strong>UE1/UE2 - Biochimie/Biomol</strong></td>
                                        <td>16 séances</td>
                                    </tr>
                                    <tr>
                                        <td><strong>UE3 - Cellule et tissus</strong></td>
                                        <td>15 séances</td>
                                    </tr>
                                    <tr>
                                        <td><strong>UE4 - Physiologie</strong></td>
                                        <td>13 séances</td>
                                    </tr>
                                    <tr>
                                        <td><strong>UE6 - MAPS</strong></td>
                                        <td>6 séances</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="">
                                <div style="background-color: var(--prix-formation); border-radius: 0 0 var(--radiusB) var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center">
                                    <div style="background-color: white; padding: 0 3%; border-radius: var(--radiusB); color: var(--prix-formation)"><strong>990 €</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'formations/contact.html.twig' %}
{% endblock %}
