{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    {% set titrePage = "La prépa PASS" %}
    {% set motPage = "ENCADREMENT" %}
    {% set colorTitle = "--pass-color" %}
    {% include 'formations/entete.html.twig' %}

    <style>
        tr td:not(:first-child){
            text-align: center;
        }
    </style>

    <div style="background-color: var(--pass-color-o)">
        <div style="margin: 0 15%; font-size: 18px; padding: 2% 0">
            <div> Comme annoncé, nous préparons à l'ensemble du programme de la PASS, à savoir le tronc commun Majeure Santé et les Mineures en Droit et Sciences. </div>
            <div> Nous préparons également les <a href="">L.AS</a> pour leur mineure Santé. </div>
            <div> Nous préparons pour l'oral et pour la session de rattrapage de cette année.</div>
        </div>
    </div>
    <div>
        <div style="padding: 2% 0">
            <div style="margin: 0 10%"><h4 style="font-size: 28px; color: var(--pass-color); letter-spacing: 4px"><strong>LA PRÉ-RENTRÉE</strong></h4></div>
            <div style="font-size: 18px; margin: 0 15%">
                <ul>
                    <li><strong>3 semaines avant la rentrée</strong> de la faculté ;</li>
                    <li><strong>4h de cours par jour sur le programme de PASS</strong> du premier semestre (UE1 / UE2 / UE3 / UE4 / UE5) ;</li>
                    <li>Des <strong>tests avec classement.</strong></li>
                </ul>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 1%">
                <div style="font-size: 22px; border: 1px solid var(--pass-color); padding: 0.5% 1%">Tarif Pré-rentrée : <span style="color: var(--blue-color)"><strong>640 €</strong></span></div>
            </div>
        </div>
    </div>
    <div style="background-color: var(--pass-color-o)">
        <div style="padding: 2% 0">
            <div style="margin: 0 10%"><h4 style="font-size: 28px; color: var(--pass-color); letter-spacing: 4px"><strong>LE PREMIER SEMESTRE</strong></h4></div>
            <div style="font-size: 18px; margin: 0 15%">
                <ul>
                    <li><strong>Suivi adapté dans chaque matière</strong> du premier semestre, en fonction du programme et des coefficients</li>
                    <li><strong>Cours doublé en Chimie (UE1/UE2) et BIO (UE3)</strong> de façon à reprendre tous les cours en séances, couverts par la prérentrée et le premier semestre.</li>
                    <li><strong>Polys de cours rédigés complet</strong> pour évaluer la progression</li>
                    <li><strong>Controles et Concours blancs réguliers</strong> pour évaluer sa progression.</li>
                    <li><strong>Suivi hebdomadaire</strong> de septembre à décembre.</li>
                </ul>
            </div>
            <div style="display:flex; justify-content: center; align-items: center; font-size: 17px;">
                <table style="width: 60%; border: 1px solid var(--blue-color)" >
                    <thead>
                        <tr style="background-color: var(--blue-color); color: white">
                            <th>Matière enseigné</th>
                            <th>Nombre de séance (2h/séance)</th>
                            <th>Volume horaire total</th>
                            <th>Tarif par matière</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>UE1 - Chimie / Biochimie</strong></td>
                            <td>15 séances</td>
                            <td>30h</td>
                            <td>510 €</td>
                        </tr>
                        <tr>
                            <td><strong>UE2 - Biologie Moléculaire</strong></td>
                            <td>5 séances</td>
                            <td>10h</td>
                            <td>170 €</td>
                        </tr>
                        <tr>
                            <td><strong>UE3 - Cellule et tissus</strong></td>
                            <td>21 séances</td>
                            <td>42h</td>
                            <td>710 €</td>
                        </tr>
                        <tr>
                            <td><strong>UE4 - Physiologie</strong></td>
                            <td>13 séances</td>
                            <td>26h</td>
                            <td>440 €</td>
                        </tr>
                        <tr>
                            <td><strong>UE5 - Sciences humaines et sociales</strong></td>
                            <td>8 séances</td>
                            <td>16h</td>
                            <td>280 €</td>
                        </tr>
                        <tr>
                            <td><strong>UE6 - MAPS</strong></td>
                            <td>5 séances</td>
                            <td>10h</td>
                            <td>170 €</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 1%">
                <div style="font-size: 22px; border: 1px solid var(--pass-color); padding: 0.5% 1%">Tarif Pack INTEGRAL S1 (<em>tous les cours du semestre 1</em>) : <span style="color: var(--blue-color)"><strong>1 980 €</strong></span></div>
            </div>
        </div>
    </div>

    <div>
        <div style="padding: 2% 0">
            <div style="margin: 0 10%"><h4 style="font-size: 28px; color: var(--pass-color); letter-spacing: 4px"><strong>LE SECOND SEMESTRE</strong></h4></div>
            <div style="font-size: 18px; margin: 0 15%">
                <ul>
                    <li><strong>Suivi adapté dans chaque matière</strong> du premier semestre, en fonction du programme et des coefficients.</li>
                    <li><strong>Controles et Concours blancs réguliers</strong> pour évaluer sa progression.</li>
                    <li><strong>Préparation à la Majeure Santé et à la Mineure réorientation en Sciences </strong> (Maths et Physique) <strong>et en Droit</strong> (en partenariat avec <a href="https://www.juris-perform.fr/">Juris'Perform</a>).</li>
                </ul>
            </div>
            <div style="display:flex; justify-content: center; align-items: center; font-size: 17px;">
                <table style="width: 60%; border: 1px solid var(--blue-color)" >
                    <thead>
                    <tr style="background-color: var(--blue-color); color: white">
                        <th>Matière enseigné</th>
                        <th>Nombre de séance (2h/séance)</th>
                        <th>Volume horaire total</th>
                        <th>Tarif par matière</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>UE4b - Physiologie</strong> (2)</td>
                        <td>6 séances</td>
                        <td>12h</td>
                        <td>220 €</td>
                    </tr>
                    <tr>
                        <td><strong>UE5b - Sciences humaines</strong> (2)</td>
                        <td>8 séances</td>
                        <td>16h</td>
                        <td>330 €</td>
                    </tr>
                    <tr>
                        <td><strong>UE6b - MAPS</strong> (2)</td>
                        <td>4 séances</td>
                        <td>8h</td>
                        <td>160 €</td>
                    </tr>
                    <tr>
                        <td><strong>UE7 - Physique</strong></td>
                        <td>14 séances (2h30)</td>
                        <td>35h</td>
                        <td>590 €</td>
                    </tr>
                    <tr>
                        <td><strong>UE8 - Mathématiques</strong></td>
                        <td>6 séances</td>
                        <td>12h</td>
                        <td>230 €</td>
                    </tr>
                    <tr>
                        <td><strong>UE9 - Cranio-faciale</strong></td>
                        <td>5 séances</td>
                        <td>10h</td>
                        <td>180 €</td>
                    </tr>
                    <tr>
                        <td><em><strong><span style="font-weight: normal">Mineure</span> Sciences</strong></em></td>
                        <td>16 séances</td>
                        <td>32h</td>
                        <td>540 €</td>
                    </tr>
                    <tr>
                        <td><em><strong><span style="font-weight: normal">Mineure</span> Droit</strong></em></td>
                        <td>16 séances</td>
                        <td>32h</td>
                        <td>540 €</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center;  margin-top: 1%">
                <div style="font-size: 22px; border: 1px solid var(--pass-color); padding: 0.5% 1%">Tarif Pack INTEGRAL S2 (<em>Majeure Santé <strong>avec</strong> Mineure Sciences ou Droit </em>) : <span style="color: var(--blue-color)"><strong>1 890 €</strong></span></div>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center;  margin-top: 1%">
                <div style="font-size: 22px; border: 1px solid var(--pass-color); padding: 0.5% 1%">Tarif Pack PERFORMANCE Majeure Santé (<em>Majeure Santé <strong>sans</strong> Mineure Sciences ou Droit </em>) : <span style="color: var(--blue-color)"><strong>1 540 €</strong></span></div>
            </div>
        </div>
    </div>
    <div style="background-color: var(--pass-color-o)">
        <div style="padding: 2% 0">
            <div style="margin: 0 10%"><h4 style="font-size: 28px; color: var(--pass-color); letter-spacing: 4px"><strong>PREPARATION A L'ORAL</strong></h4></div>
            <div style="font-size: 18px; margin: 0 15%">
                <p>
                    En attente des modalités de la préparation à l'oral.
                </p>
            </div>
        </div>
    </div>
    {% include 'formations/contact.html.twig' %}
{% endblock %}



