{% extends 'base.html.twig' %}

{% block stylesheets %} {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/formations/passBis.css') }}"> #}
{% endblock %}

{% block title %} {{ parent() }} {% endblock %}

{% block body %}

    {% set motPage = "ENCADREMENT" %}
    {% include 'formations/entete.html.twig' %}

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 60px; color: var(--blue-color)">
            <h1>La Prépa PASS</h1>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px">
            <div> Comme annoncé, nous préparons à l'ensemble du programme de la PASS, à savoir le tronc commun Majeure Santé et les Mineures en Droit et Sciences. </div>
            <div> Nous préparons également les <a href="">L.AS</a> pour leur mineure Santé. </div>
            <div> Nous préparons pour l'oral et pour la session de rattrapage de cette année.</div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 30px; color: var(--blue-color)">
            <h2>Préparation PASS 2021/2022</h2>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="display: flex; flex-direction: column; justify-content: center; margin: 0 10%;">
            <div style="background-color: var(--pass-color); border-radius: var(--radiusB) var(--radiusB) 0 0">
                <div style="text-transform: uppercase; font-size: 21px; text-align: center; color: white; letter-spacing: 3px"><h4>le pré-rentrée</h4></div>
            </div>
            <div style="background-color: var(--pass-color-o); border-radius: 0 0 var(--radiusB) var(--radiusB); font-size: 18px;">
                <div style="margin: 0.5% 0; text-align: center"><strong>3 semaines avant la rentrée de la faculté</strong></div>
                <div style="margin: 0.5% 0; text-align: center">4h de cours par jour sur le programme de PASS du premier semestre (UE1 / UE2 / UE3 / UE4 / UE5) + test avec classement</div>
                <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; margin: 1% 20%">
                    <div style="background-color: var(--prix-formation); padding: 1%; border-radius: var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center">
                        <div style="text-align: center; text-transform: uppercase; color: white; letter-spacing: 2px"><strong>les 3 semaines</strong></div>
                        <div style="background-color: white; padding: 2%; margin-top: 1%; border-radius: var(--radiusB); color: var(--prix-formation)"><strong>640 €</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="display: flex; flex-direction: column; justify-content: center; margin: 0 10%;">
            <div style="background-color: var(--pass-color); border-radius: var(--radiusB) var(--radiusB) 0 0">
                <div style="text-transform: uppercase; font-size: 21px; text-align: center; color: white; letter-spacing: 3px"><h4>le premier semestre</h4></div>
            </div>
            <div style="background-color: var(--pass-color-o); border-radius: 0 0 var(--radiusB) var(--radiusB); font-size: 18px;">
                <div style="margin: 0.5% 0;">
                    <ul>
                        <li>Suivi adapté dans chaque matière du premier semestre, en fonction du programme et des coefficients</li>
                        <li>Cours doublé en Chimie (UE1/UE2) et BIO (UE3) de façon à reprendre tous les cours en séances, couverts par la prérentrée et le premier semestre.</li>
                        <li>Polys de cours rédigés complet pour évaluer la progression</li>
                        <li>Controles et Concours blancs réguliers pour évaluer sa progression.</li>
                        <li>De septembre à décembre, suivi hebdomadaire.</li>
                    </ul>
                </div>
                <div style="margin: 0.5% 0; text-align: center"><em>L'oganisation par UE au 1er semestre est la suivante : </em></div>
                <div>
                    <table style="margin: auto; width: 80%">
                        <tbody>
                        <tr>
                            <td><strong>UE1 - Chimie / Biochimie</strong></td>
                            <td>15 séances de 2h</td>
                            <td>30h</td>
                            <td>510 €</td>
                        </tr>
                        <tr>
                            <td><strong>UE2 - Biologie Moléculaire</strong></td>
                            <td>5 séances de 2h</td>
                            <td>10h</td>
                            <td>170 €</td>
                        </tr>
                        <tr>
                            <td><strong>UE3 - Cellule et tissus</strong></td>
                            <td>21 séances de 2h</td>
                            <td>42h</td>
                            <td>710 €</td>
                        </tr>
                        <tr>
                            <td><strong>UE4 - Physiologie</strong></td>
                            <td>13 séances de 2h</td>
                            <td>26h</td>
                            <td>440 €</td>
                        </tr>
                        <tr>
                            <td><strong>UE5 - Sciences humaines et sociales</strong></td>
                            <td>8 séances de 2h</td>
                            <td>16h</td>
                            <td>280 €</td>
                        </tr>
                        <tr>
                            <td><strong>UE6 - MAPS</strong></td>
                            <td>5 séances de 2h</td>
                            <td>10h</td>
                            <td>170 €</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; margin: 1% 20%">
                    <div style="background-color: var(--prix-formation); padding: 1%; border-radius: var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center">
                        <div style="text-align: center; text-transform: uppercase; color: white; letter-spacing: 2px"><strong>pack intégral s1</strong></div>
                        <div style="background-color: white; padding: 2%; margin-top: 1%; border-radius: var(--radiusB); color: var(--prix-formation)"><strong>1 980 €</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="display: flex; flex-direction: column; justify-content: center; margin: 0 10%;">
            <div style="background-color: var(--pass-color); border-radius: var(--radiusB) var(--radiusB) 0 0">
                <div style="text-transform: uppercase; font-size: 21px; text-align: center; color: white; letter-spacing: 3px"><h4>le second semestre</h4></div>
            </div>
            <div style="background-color: var(--pass-color-o); border-radius: 0 0 var(--radiusB) var(--radiusB); font-size: 18px;">
                <div style="margin: 0.5% 0;">
                    <ul>
                        <li>Suivi adapté dans chaque matière du premier semestre, en fonction du programme et des coefficients</li>
                        <li>Controles et Concours blancs réguliers pour évaluer sa progression.</li>
                        <li>Préparation à la majeure santé et à la mineure réorientation en Sciences (Maths et Physique) et en Droit (en partenariat avec <a href="https://www.juris-perform.fr/">Juris'Perform</a></li>
                    </ul>
                </div>
                <div style="margin: 0.5% 0; text-align: center"><em>L'oganisation par UE au 1er semestre est la suivante : </em></div>
                <div>
                    <table style="margin: auto; width: 80%">
                        <tbody>
                            <tr>
                                <td><strong>UE4b - Physiologie</strong> (2)</td>
                                <td>6 séances de 2h</td>
                                <td>12h</td>
                                <td>220 €</td>
                            </tr>
                            <tr>
                                <td><strong>UE5b - Sciences humaines</strong> (2)</td>
                                <td>8 séances de 2h</td>
                                <td>16h</td>
                                <td>330 €</td>
                            </tr>
                            <tr>
                                <td><strong>UE6b - MAPS</strong> (2)</td>
                                <td>4 séances de 2h</td>
                                <td>8h</td>
                                <td>160 €</td>
                            </tr>
                            <tr>
                                <td><strong>UE7 - Physique</strong></td>
                                <td>14 séances de 2h30</td>
                                <td>35h</td>
                                <td>590 €</td>
                            </tr>
                            <tr>
                                <td><strong>UE8 - Mathématiques</strong></td>
                                <td>6 séances de 2h</td>
                                <td>12h</td>
                                <td>230 €</td>
                            </tr>
                            <tr>
                                <td><strong>UE9 - Cranio-faciale</strong></td>
                                <td>5 séances de 2h</td>
                                <td>10h</td>
                                <td>180 €</td>
                            </tr>
                            <tr>
                                <td><em><strong><span style="font-weight: normal">Mineure</span> Sciences</strong></em></td>
                                <td>16 séances de 2h</td>
                                <td>32h</td>
                                <td>540 €</td>
                            </tr>
                            <tr>
                                <td><em><strong><span style="font-weight: normal">Mineure</span> Droit</strong></em></td>
                                <td>16 séances de 2h</td>
                                <td>32h</td>
                                <td>540 €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-around; align-items: center; margin: 1% 20%">
                    <div style="background-color: var(--prix-formation); padding: 1%; border-radius: var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center; color: white;">
                        <div style="text-align: center; text-transform: uppercase; letter-spacing: 2px"><strong>pack intégral s2</strong></div>
                        <div><em style="font-size: 15px">(Majeure Santé <strong>avec</strong> Mineure Sciences ou Droit)</em></div>
                        <div style="background-color: white; padding: 2%; margin-top: 1%; border-radius: var(--radiusB); color: var(--prix-formation)"><strong>1 980 €</strong></div>
                    </div>
                    <div style="background-color: var(--prix-formation); padding: 1%; border-radius: var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center; color: white;">
                        <div style="text-align: center; text-transform: uppercase; letter-spacing: 2px"><strong>pack performance s2</strong></div>
                        <div><em style="font-size: 15px">(Majeure Santé <strong>sans</strong> Mineure Sciences ou Droit)</em></div>
                        <div style="background-color: white; padding: 2%; margin-top: 1%; border-radius: var(--radiusB); color: var(--prix-formation)"><strong>1 540 €</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="display: flex; flex-direction: column; justify-content: center; margin: 0 10%;">
            <div style="background-color: var(--pass-color); border-radius: var(--radiusB) var(--radiusB) 0 0">
                <div style="text-transform: uppercase; font-size: 21px; text-align: center; color: white; letter-spacing: 3px"><h4>preparation à l'oral</h4></div>
            </div>
            <div style="background-color: var(--pass-color-o); border-radius: 0 0 var(--radiusB) var(--radiusB); font-size: 18px;">
                <div style="margin: 0.5% 0; text-align: center">En attente des modalités de la préparation à l'oral.</div>
            </div>
        </div>
    </div>




    {% include 'formations/contact.html.twig' %}
{% endblock %}