{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    {% set titrePage = "La première Santé" %}
    {% set motPage = "mot" %}
    {% set colorTitle = "--premiere-color" %}
    {% include 'formations/entete.html.twig' %}

    <div style="background-color: var(--premiere-color-o)">
        <div style="padding: 2% 0">
            <div style="margin: 1% 10%"><h4 style="font-size: 28px; color: var(--premiere-color); letter-spacing: 4px"><strong>LA FORMATION </strong></h4></div>
            <div style="font-size: 18px; margin: 0 15%">
                <div> <p>La formation se décompose en 3 axes : </p></div>
                <div style="margin: 3% 0">
                    <div style="font-size: 22px; text-transform: uppercase; text-align: center"><p><strong>1 - Méthodologie</strong></p></div>
                    <div>La méthodologie est peu abordée au lycée alors que c’est un élément essentiel de la réussite dans le supérieur.</div>
                    <div>Les objectifs de ces séances de méthodologie sont multiples :</div>
                    <div>
                        <ul>
                            <li>Mettre en place une méthode de travail efficace et gagner en autonomie ;</li>
                            <li>Acquérir une capacité de travail suffisante pour progresser ;</li>
                            <li>Prendre confiance en soi en trouvant de l’intérêt dans les matières étudiées.</li>
                        </ul>
                    </div>
                    <div> <p>Cet axe se fera grâce à un stage spécifique aux vacances de la Toussaint et grâce à un suivi personnalisé que nous développons tout au long de l'année.</p>
                    </div>
                </div>
                <div style="margin: 3% 0">
                    <div style="font-size: 22px; text-transform: uppercase; text-align: center"><p><strong>2 - Orientation</strong></p></div>
                    <div>Il est important que les lycéens réfléchissent à leur orientation le plus tôt possible, en connaissant les attendus du supérieur, afin de valider leur choix en terminale.</div>
                    <div>Pour cela, nous proposons deux rendez-vous clés pendant l'année :</div>
                    <div>
                        <ul>
                            <li>Une journée de rencontres avec des étudiants de chaque filière de santé ;</li>
                            <li>Un entretien individuel réalisé par un cabinet de conseil en orientation.</li>
                        </ul>
                    </div>
                </div>
                <div style="margin: 3% 0 0">
                    <div style="font-size: 22px; text-transform: uppercase; text-align: center"><p><strong>3 - Enseignements</strong></p></div>
                    <div>Les lycéens doivent comprendre l'importance des <strong>notions clés du programme de première</strong> en lien avec celui de première année des études de santé. Il s'agit donc ici de travailler sur le contenu du programme de première tout en intégrant la nouvelle organisation mise en place avec la réforme du lycée.</div>
                    <div>
                        <span id="pack-performance"></span>
                        <ul>
                            <li>Pour les nouveaux bacheliers souhaitant intégrer la PASS, et qui ont besoin de consolider leurs bases et/ou de gagner en maturité et en méthode de travail ;</li>
                            <li>Pour les étudiants en difficulté après le stage de prérentrée, et pendant les examens de septembre. Il est en effet possible de se déinscrire de la fac avant la fin du mois d'octobre sans que cela compte comme une tentative pour entrer en 2e année ;</li>
                            <li>Pour les étudiants en réorientarion et qui ont besoin de reprendre le rythme des études.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="padding: 2% 0">
            <div style="margin: 1% 10%"><h4 style="font-size: 28px; color: var(--premiere-color); letter-spacing: 4px"><strong>PACK PERFORMANCE</strong></h4></div>
            <div style="font-size: 18px; margin: 0 15%">
                <div><p>Cet enseignement débute fin octobre et se prolonge jusqu'en juin avec : </p></div>
                <ul>
                    <li><strong>Stage de 12h</strong> à la Toussaint (Méthodologie) ;</li>
                    <li><strong>17h de cours sous forme de visio-conférences</strong> de novembre à avril ;</li>
                    <li><strong>22h de cours répartis sur 16 vidéos</strong> avec applications sous forme de Qcms ;</li>
                    <li><strong>Suivi personnalisé</strong> tout au long de l'année par un responsable pédagogique ;</li>
                    <li><strong>3 tests notés avec classement</strong>.</li>
                </ul>
                <div>Les étudiants disposeront, sur l'espace numérique de travail (ENT), de l’ensemble des vidéos et des contenus pédagogiques : supports de cours, exercices, quizz, tests.</div>
                <span id="stage-decouverte"></span>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 1%">
                <div style="font-size: 22px; border: 1px solid var(--pass-color); padding: 0.5% 1%">Tarif du PACK PERFORMANCE : <span style="color: var(--blue-color)"><strong>840 €</strong></span></div>
            </div>
        </div>
    </div>
    <div style="background-color: var(--premiere-color-o)">
        <div style="padding: 2% 0">
            <div style="margin: 1% 10%"><h4 style="font-size: 28px; color: var(--premiere-color); letter-spacing: 4px;"><strong>STAGE DECOUVERTE</strong></h4></div>
            <div style="font-size: 18px; margin: 0 15%">
                <div>Cet enseignement se déroule durant les vacances de février. </div>
                <div>Il a pour but de découvrir les matières enseignées en PASS/L.AS : <strong>Physio, SHS, Cyto-histologie</strong> pour une durée totale de <strong>20h de cours</strong>.</div>
            </div>
            <span id="stage-bac"></span>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 1%">
                <div style="font-size: 22px; border: 1px solid var(--pass-color); padding: 0.5% 1%">Tarif du STAGE DECOUVERTE : <span style="color: var(--blue-color)"><strong>330 €</strong></span></div>
            </div>
        </div>
    </div>
    <div>
        <div style="padding: 2% 0">
            <div style="margin: 1% 10%"><h4 style="font-size: 28px; color: var(--premiere-color); letter-spacing: 4px;"><strong>STAGE BAC</strong></h4></div>
            <div style="font-size: 18px; margin: 0 15%">
                <div>Cet enseignement se déroule durant les vacances de Pâques. </div>
                <div>Il est axé sur la préparation à l'épreuve de spécialité abandonnée en fin de première pour une durée totale de <strong>15h de cours</strong>.</div>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 1%">
                <div style="font-size: 22px; border: 1px solid var(--pass-color); padding: 0.5% 1%">Tarif du STAGE BAC : <span style="color: var(--blue-color)"><strong>240 €</strong></span></div>
            </div>
        </div>
    </div>
    <div style="background-color: var(--premiere-color-o)">
        <div style="padding: 2% 0">
            <div style="margin: 1% 10%"><h4 style="font-size: 28px; color: var(--premiere-color); letter-spacing: 4px;"><strong>PACK PERF PLUS</strong></h4></div>
            <div style="font-size: 18px; margin: 0 15%">
                <div style="text-align: center"><a href="#pack-performance">PACK PERFORMANCE </a> + <a href="#stage-decouverte">STAGE DECOUVERTE</a></div>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 1%">
                <div style="font-size: 22px; border: 1px solid var(--pass-color); padding: 0.5% 1%">Tarif du PACK PERF PLUS : <span style="color: var(--blue-color)"><strong>1 050 €</strong></span></div>
            </div>
        </div>
    </div>
    <div>
        <div style="padding: 2% 0">
            <div style="margin: 1% 10%"><h4 style="font-size: 28px; color: var(--premiere-color); letter-spacing: 4px;"><strong>PACK INTEGRAL</strong></h4></div>
            <div style="font-size: 18px; margin: 0 15%">
                <div style="text-align: center"><a href="#pack-performance">PACK PERFORMANCE </a> + <a href="#stage-decouverte">STAGE DECOUVERTE</a> + <a href="#stage-bac">STAGE BAC</a></div>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 1%">
                <div style="font-size: 22px; border: 1px solid var(--pass-color); padding: 0.5% 1%">Tarif du PACK INTEGRAL : <span style="color: var(--blue-color)"><strong>1 270 €</strong></span></div>
            </div>
        </div>
    </div>
    {% include 'formations/contact.html.twig' %}
{% endblock %}