{% extends 'base.html.twig' %}

{% block stylesheets %} {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/formations/passBis.css') }}"> #}
{% endblock %}

{% block title %} {{ parent() }} Terminale Santé{% endblock %}

{% block body %}

    {% set motPage1 = "anticipation" %}
    {% set motPage2 = "méthodo" %}
    {% set motPage3 = "orientation" %}
    {% set bgImg = '/img/jpg/img4.jpg' %}
    {% include 'formations/entete.html.twig' %}

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 60px; color: var(--blue-color)">
            <h1>La Terminale Santé</h1>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 30px; color: var(--blue-color)">
            <h2>La formation</h2>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px">
            <div style="text-align: justify">
                <div>
                    <p>Fort de notre connaissance des études de Santé et du programme de lycée, nous avons mis en place dès 2012 un suivi en terminale afin d'anticiper les exigences de la PACES. Avec la réforme des études de Santé, nous avons fait évoluer notre programme Terminale Santé autoure de 3 objectifs : </p>
                </div>
                <div style="display: flex; margin: 1% 0">
                    <div style="width: 2em; height: 2em; color: white; display: flex; justify-content: center; align-items: center; border-radius: 50%; background-color: var(--terminale-color)">1</div>
                    <div style="margin: auto 0 auto 1%"><strong>Méthodologie</strong> : Développerune méthode de travail efficace pour le supérieur</div>
                </div>
                <div style="display: flex; margin: 1% 0">
                    <div style="width: 2em; height: 2em; color: white; display: flex; justify-content: center; align-items: center; border-radius: 50%; background-color: var(--terminale-color)">2</div>
                    <div style="margin: auto 0 auto 1%"><strong>Cours</strong> : aborder les enseignements spécifiques de PASS / L.AS pour prendre de l'avance </div>
                </div>
                <div style="display: flex; margin: 1% 0">
                    <div style="width: 2em; height: 2em; color: white; display: flex; justify-content: center; align-items: center; border-radius: 50%; background-color: var(--terminale-color)">3</div>
                    <div style="margin: auto 0 auto 1%"><strong>Orientation</strong> : Optimiser sa stratégie et son dossier Parcoursup pour intégrer la filière de son choix</div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 30px; color: var(--blue-color)">
            <h2>Organisation</h2>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px">
            <div style="text-align: justify">
                <div>
                    <p><strong>Nous proposons pour la rentrée 2021 deux formules complémentaires : </strong></p>
                </div>
                <div style="text-align: center; color: var(--terminale-color); text-transform: uppercase; font-size: 22px">
                    <p>Une formule spécifique pour le supérieur </p>
                </div>
                <div style="background-color: var(--terminale-color-o);">
                    <div style="background-color: var(--terminale-color); border-radius: var(--radiusB) var(--radiusB) 0 0">
                        <div style="text-transform: uppercase; font-size: 21px; text-align: center; color: white; letter-spacing: 3px"><h4>PACK PERF Terminale</h4></div>
                    </div>
                    <div style="font-size: 18px; padding: 1%">
                        <div style="text-align: center; color: var(--premiere-color); font-weight: bold;">
                            <p>Cet enseignement débute fin octobre et se prolonge jusqu'en juin avec : </p>
                        </div>
                        <div>
                            <ul>
                                <li><strong>1 stage en présentiel de 20h à la Toussaint</strong> comportant un module de méthodo approfondi et des cours</li>
                                <li><strong>1 stage en présentiel en avril</strong> de 20h de cours (possibilité de suivi en distanciel, nous contater)</li>
                                <li><strong>Un suivi en e-learning</strong> tout au long de l'année sur 24 semaines comprenant des vidéos, des corrections de QCMs, des quizz et permettant d'appliquer notre méthodologie</li>
                                <li><strong>Orientation : suivi individuel</strong> avec un conseiller d'orientation + journée d'orientation + atelier Parcoursup + préparation au grand oral (pour la partie orientation)</li>
                                <li><strong>Tutorat avec des tudiants de la prépa ayant réussi leur année</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div style="">
                        <div style="background-color: var(--terminale-color); border-radius: 0 0 var(--radiusB) var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center">
                            <div style="background-color: white; padding: 0 3%; border-radius: var(--radiusB); color: var(--terminale-color)"><strong>1 720 € </strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px">
            <div style="padding: 1% 0">
                <div style="text-align: center; color: var(--terminale-color); text-transform: uppercase; font-size: 22px">
                    Deux stages complémentaires
                </div>
                <div style="text-align: center; ">
                    pour renforcer ses bases du secondaire et optimiser Parcoursup
                </div>
            </div>
            <div style="display: flex">
                <div class="flexOne" style="margin: 0 2% 0 0">
                    <div style="background-color: var(--terminale-color-o);">
                        <div style="background-color: var(--terminale-color); border-radius: var(--radiusB) var(--radiusB) 0 0; text-transform: uppercase; font-size: 22px; text-align: center; color: white; letter-spacing: 3px">
                            <div><h4>stage</h4></div>
                            <div>Pré-rentrée terminale</div>
                        </div>
                        <div style="font-size: 18px;">
                            <div style="text-align: center; color: var(--terminale-color); font-weight: bold;">
                                <p>Fin août</p>
                            </div>
                            <div style="padding: 0 2%">
                                <p>Afin de prendre le bon rythme dès la rentrée (20h) : </p>
                                <ul>
                                    <li>Méthodo</li>
                                    <li>Maths / Physique</li>
                                </ul>
                            </div>
                        </div>
                        <div style="">
                            <div style="background-color: var(--terminale-color); border-radius: 0 0 var(--radiusB) var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center">
                                <div style="background-color: white; padding: 0 3%; border-radius: var(--radiusB); color: var(--terminale-color)"><strong>330 €</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flexOne" style="margin: 0 0 0 2%">
                    <div style="background-color: var(--terminale-color-o);">
                        <div style="background-color: var(--terminale-color); border-radius: var(--radiusB) var(--radiusB) 0 0; text-transform: uppercase; font-size: 22px; text-align: center; color: white; letter-spacing: 3px">
                            <div><h4>stage préparation</h4></div>
                            <div>aux épreuves spé bac</div>
                        </div>
                        <div style="font-size: 18px;">
                            <div style="text-align: center; color: var(--terminale-color); font-weight: bold;">
                                <p>Vacances février</p>
                            </div>
                            <div style="padding: 0 2%">
                                <p>Préparation aux épreuves finales de spécialité au bac (20h) :</p>
                                <ul>
                                    <li>Maths / Physique-Chimie</li>
                                    <li>Physique-Chimie / Biologie</li>
                                </ul>
                            </div>
                        </div>
                        <div style="">
                            <div style="background-color: var(--terminale-color); border-radius: 0 0 var(--radiusB) var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center">
                                <div style="background-color: white; padding: 0 3%; border-radius: var(--radiusB); color: var(--terminale-color)"><strong>330 €</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0 2%">
        <div style="margin: 0 25%; font-size: 18px">
            <div style="display: flex">
                <div class="flexOne" style="margin: 0 0 0 2%">
                    <div style="background-color: var(--terminale-color-o);">
                        <div style="background-color: var(--terminale-color); border-radius: var(--radiusB) var(--radiusB) 0 0">
                            <div style="text-transform: uppercase; font-size: 21px; text-align: center; color: white; letter-spacing: 3px"><h4>Pack Intégral terminale</h4></div>
                        </div>
                        <div style="font-size: 18px;">
                            <div class="sectionBody" style="padding: 1% 4%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <div style="background-color: var(--terminale-color); text-transform: uppercase; border-radius: var(--radiusB); width: 60%; color: white; margin: 2% auto; text-align: center; padding: 1% 0;">Pack perf terminale</div>
                                <div style="background-color: orange; border-radius: 50%; width: 2em; height: 2em; margin: auto; display: flex; justify-content: center; align-items: center; color: white; font-weight: bold;">+</div>
                                <div style="background-color: var(--terminale-color); text-transform: uppercase; border-radius: var(--radiusB); width: 60%; color: white; margin: 2% auto; text-align: center; padding: 1% 0;">stage pré-rentrée terminale</div>
                                <div style="background-color: orange; border-radius: 50%; width: 2em; height: 2em; margin: auto; display: flex; justify-content: center; align-items: center; color: white; font-weight: bold;">+</div>
                                <div style="background-color: var(--terminale-color); text-transform: uppercase; border-radius: var(--radiusB); width: 60%; color: white; margin: 2% auto; text-align: center; padding: 1% 0;">STAGE PRÉPARATION
                                    AUX ÉPREUVES SPÉ BAC</div>
                            </div>
                        </div>
                        <div style="">
                            <div style="background-color: var(--terminale-color); border-radius: 0 0 var(--radiusB) var(--radiusB); display: flex; flex-direction: column; justify-content: center; align-items: center">
                                <div style="background-color: white; padding: 0 3%; border-radius: var(--radiusB); color: var(--terminale-color)"><strong>2 230 €</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px">
            <div style="text-align: justify">
                <img src="{{ asset('img/jpg/TS21-VisuelTerminaleSanté[6952].JPG') }}" alt="" style="width: 100%">
            </div>
        </div>
    </div>
    <div style="background-color: var(--blue-color-o)">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
            <div style="font-size: 30px; color: var(--blue-color)">
                <h2>Témoignages</h2>
            </div>
        </div>
        <div style="padding: 1% 0">
            <div style="margin: 0 15%; font-size: 18px">
                <div style="text-align: justify">
                    <div style="padding-bottom: 1%">
                        <p>
                            "<em>La terminale Santé a contribué à ma réussite en Dentaire. En effet, durant l’année de terminale, les séances hebdomadaires m’ont permis de découvrir le mode de travail «d’une prépa» (très différent du rythme du lycée !), d’acquérir une rigueur dans mon apprentissage (essentiel pour le concours), de faire connaissance avec les enseignants et de voir de l'interieur le serieux de la preparation. Nous sommes vraiment bien encadrés, conseillés par l’équipe de Sup’Perform, et ceci est réellement important car cela nous permet d’avoir une avance ainsi que quelques certitudes sur la manière d’appréhender l’année très difficile qu’est celle de la Paces.</em>"
                        </p>
                        <p style="text-indent: 5%"><strong>Benjamin B</strong>, reçu en dentaire en 2015</p>
                    </div>
                    <div>
                        <p>
                            "<em>La Terminale Santé a eu pour but de me préparer le plus tôt possible à l’année de médecine et ainsi de prendre de l’avance. Elle m’a permis de prendre mes repères au niveau des locaux et des professeurs de la prépa mais également de commencer à mettre en place une méthode de travail adaptée à l’année du concours. Les séances m’aidaient à bien assimiler le cours du jour et à répondre aux questions qui persistaient, tout ça à un rythme soutenu. Le reste de la semaine était consacré à l’apprentissage de ce cours pour le contrôle de la séance suivante, nous obligeant à gérer notre temps et à s’appliquer pour connaître tout ça le mieux possible. Finalement la Terminale Santé m’a permis de mieux comprendre, approfondir le programme du lycée pour obtenir une bonne mention au Bac et également d’être solide sur les bases des connaissances exigées pour le concours afin d’aborder l'année de médecine avec une confiance optimale.</em>"
                        </p>
                        <p style="text-indent: 5%"><strong>Renaud C</strong>, reçu primant en médecine en 2015</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'formations/contact.html.twig' %}
{% endblock %}