{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Prépa PASS/LAS, S'P Zéro, Première et Terminale Santé{% endblock %}

{% block body %}


    <div style="width: 100vw; height: 80vh; display: flex; justify-content: center; align-items: center; font-size: 50px">
        <div>Oups, cette page est en cours de développement !</div>
    </div>


{% endblock %}